*{
    margin: 0;
    font-family:'montserrat';
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');


.banner{
 
     width: 100%;
    height: 100vh;
    background-image:url(image/background.avif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    display: flex;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul li{ 
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    
    gap: 6%;
    position: relative;

}
.navbar ul li a {
    text-decoration: none;
    color: beige;
    text-transform: uppercase;


}
.navbar h1{
    
    color: beige;
    
    text-align: left;
    
}

.navbar ul li a::after {
    content: '';
    height: 3px;
    width:0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px ;
    transition:0.5s;

}
.navbar ul li a:hover:after {

width: 100%;

}
.content {
    text-align: center;
    top: 50%;
    color:#fff;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
}
.content h2{
    font-size: 60px;
    margin-top: 80px;
    color:#fff;
    transition: 1s;

}
.content h2:hover{
    color:#009688;
   
   

}
.content p {
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    margin: 20px 10px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    border: #009688 2px solid;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.7s;
}
button:hover span{
    width: 100%;
    
}
button:hover{
    border: none;
}
/* RESTAURANT */
.row {

display: flex;
align-items: center;
height: 80%;

}
.col{
    flex-basis: 50%;
    margin-left: 5%;
}
.row h2{
    color: #fff;
    font-size: 50px;
}
.row p {
    color: #fff;
    font-size: 20px;
    line-height: 20px;

}
.card{
    width: 170px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin: 10px 15px;
   
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card1{
    background-image: url(image/plat1.jpg);
}
.card2{
    background-image: url(image/plat2.jpg);
}
.card3{
    background-image: url(image/plat3.jpg);
}
.card4{
    background-image: url(image/plat4.webp);
}
.card:hover{
transform: translateY(-10px) translateX(2px);
}
h5{
    color: #fff;
    text-shadow: 0 0 2px #999;
}
.card p{
    text-shadow: 0 0 2px #000;
    font-size: 10px;
}
.card11{
    background-image: url(image/chambre1.webp);
}
.card22{
    background-image: url(image/chambre2.jpg);
}
.card33{
    background-image: url(image/Chambre3.webp);
}
.card44{
    background-image: url(image/chambre4.jpg);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #00ff00;
}
.form-box{
    position: relative;
    width: 0px;
    height: 452px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 2rem;
    color: #fff;
    text-align: center;

}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;

}
.inputbox label{
    position: absolute;
    top: 50%;


}